*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(103, 236, 192);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    height: 400px;
    width: 300px;
    background-color: rgb(238, 231, 219);
    border-radius: 20px;
    position: relative;
    overflow: hidden;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }

    i{
        color: #ffff;
        font-size: 75px;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%) scale(0);
        opacity: 0.8;
        transition: all ease 0.4s;
    }
}

