*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

h1{
    font-size: 80px;
}

#bulb{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 4px solid black;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-self: center;
}
button{
    padding: 10px 30px;
    font-size: 20px;
    margin: 50px;
    border-radius: 30px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-self: center;
}